streamlit
pandas
numpy
matplotlib
seaborn
plotly
openai
langchain
fpdf
python-dotenv
python-pptx
faiss-cpu
langchain
langchain-community
langgraph
openai
wikipedia
pypdf2
langchain_core
langchain_openai
